@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .smooth-animation {
    transition: all 500ms ease-in-out;
  }
}

body {
  -ms-overflow-style: none;
  scrolbar-width: 0px;
  background: #020202;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}
